% !TEX program = pdflatex
% Cover Letter for Emerald Journal Submission

\documentclass[10pt]{article}
\usepackage{geometry}
\geometry{a4paper, margin=1in}
\usepackage{setspace}
\onehalfspacing
\usepackage[hidelinks]{hyperref}

\begin{document}

\today

\bigskip

\noindent Editor-in-Chief \\
\textit{TODO: Engineering, Construction and Architectural Management} \\
Emerald Publishing

\bigskip

\noindent Dear Editor,

\bigskip

We are pleased to submit our manuscript entitled ``\textbf{TODO: Fill in paper title}'' for consideration for publication in \textit{TODO: Journal Name}.

TODO: Brief description of the paper (2-3 sentences about what the paper does and why it matters).

TODO: Statement of originality and significance (1-2 sentences).

TODO: Confirmation that the manuscript has not been published elsewhere and is not under consideration by another journal.

We believe this manuscript is well suited for the readership of \textit{TODO: Journal Name} and look forward to your consideration.

\bigskip

\noindent Sincerely,

\bigskip

\noindent TODO: Corresponding author name \\
TODO: Affiliation \\
Email: TODO

\end{document}
