% !TEX program = pdflatex
% Emerald Title Page - upload separately (double-blind review)
\documentclass[10pt, a4paper]{article}

\usepackage[utf8]{inputenc}
\usepackage[T1]{fontenc}
\usepackage{geometry}
\geometry{a4paper, margin=1in}
\usepackage{setspace}
\doublespacing
\usepackage{newtxtext,newtxmath}
\usepackage{authblk}
\usepackage[hidelinks]{hyperref}

\begin{document}

\title{TODO: Fill in paper title}

\author[1]{TODO: Author 1\thanks{Corresponding author. Email: TODO}}
\author[2]{TODO: Author 2}

\affil[1]{TODO: School/Department, University, City PostCode, Country}
\affil[2]{TODO: School/Department, University, City PostCode, Country}

\date{}

\maketitle

\section*{Acknowledgments}
TODO: Fill in funding information.

\end{document}
