{
  "permissions": {
    "allow": [
      "Read({PROJECT_PARENT_DIR}/**)",
      "Bash(cat:*)",
      "Bash(git add:*)",
      "Bash(git commit:*)",
      "Bash(pdfinfo:*)",
      "WebSearch",
      "Bash(wc:*)",
      "Bash(git push:*)"
    ],
    "deny": [],
    "ask": []
  }
}
